@model BarberShop.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
       
        <tb>
            <h6>List Of Services</h6>
            <div class="form-group">
                <label asp-for="Services" class="control-label"></label>
                <select asp-for="Services" class="form-control">
                    @foreach (var service in Model.Services)
                    {

                        <option value="@service.Id">@service.Name @service.Cost</option>
                    }
                </select>
                <span asp-validation-for="Services" class="text-danger"></span>
            </div>
        </tb>



    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
