@model BarberShop.Models.ViewModels.TransactionFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Transaction.Id" type="hidden" class="form-control"/>
          
            <div class="form-group">
                <input asp-for="Transaction.UserProfileId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Customer.FullName" class="control-label"></label>
                <select asp-for="Transaction.CustomerId" class="form-control">
                    @foreach (var customer in Model.Customers)
                    {
                        <option value="@customer.Id">@customer.FullName</option>
                    }
                </select>
                <span asp-validation-for="Transaction.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedServiceIds" class="control-label"></label>
                <select multiple asp-for="SelectedServiceIds" class="form-control">
                    @foreach (var service in Model.Services)
                    {
                        <option value="@service.Id">@service.Name @service.Cost</option>
                    }
                </select>
                <span asp-validation-for="SelectedServiceIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Comment" class="control-label"></label>
                <input asp-for="Transaction.Comment" class="form-control" />
                <span asp-validation-for="Transaction.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
